.trainee-balr {
  .courses {
    .courses-row {
      position: relative;
      float: left;
      margin: auto;
      overflow: scroll;
      height: 761px;

      h1 {
        margin-left: 30px;
      }

      .coursesearch {
        position: absolute;
        right: 30px;
        top: 30px;
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
      }

      .col-sm-3 {
        background-color: none;
        display: inline-block;
        position: relative;
        margin: auto;
        transition: background-color 0.5s, color 0.5s;

        .coursebox {
          height: 150px;
          margin-top: 50px;
          margin-bottom: 50px;
          cursor: pointer;

          i {
            font-size: 100px;
            margin-top: 0;
            margin-bottom: 0;
            transition: font-size 0.2s, margin-top 0.2s, margin-bottom 0.2s;
          }
        }

        &:hover {
          background-color: gainsboro;
          color: white;

          i {
            font-size: 110px;
            margin-top: -2px;
            margin-bottom: 2px;
          }
        }
      }
    }

    .col-xs-4 {
      padding-right: unset;

      .coursedescriptionbox {
        position: relative;
        display: block;
        width: 100%;
        background: gainsboro;
        height: 761px;
        max-height: 761px;
        overflow: hidden;

        .footercoursedescription {
          position: absolute;
          bottom: 20px;
          text-align: center;
          width: 100%;
          font-size: 12px;
        }

        .coursedescription {
          display: none;
          padding: 0 2rem;

          &.active {
            display: block;
          }

          h1 {
            margin: 1rem 0 0;
            font-weight: 400;
            font-family: "Damion", sans-serif;
            text-align: center;
            color: black;
            text-transform: capitalize;
            font-size: 50px;
          }

          h3 {
            font-family: "Damion", sans-serif;
            font-size: 35px;
            text-align: center;
          }

          p {
            font-weight: 400;
            font-size: 15px;
            color: black;
            margin: 1rem;
          }

          .courselinkbutton {
            margin-top: 20px;
            font-size: 15px;
            transition: all 0.2s;

            &:hover {
              border: 1px black solid;
              background-color: #333;
              color: white;
              opacity: .8;
            }

            &:active {
            border: 1px black solid;
            background-color: #333;
            color: white;
            opacity: .8;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .trainee-balr {
    .courses {
      .courses-row {
        .coursesearch {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .trainee-balr {
    .courses {
      .outer-coursebox {
        width: 100%;
      }
    }
  }
}
