.trainee-balr {
  .courses{
    margin-top: -80px;

    h1 {
      margin-left: 50px;
    }

    .courses-row{
      position: relative;
      float: none;
      margin: auto;

      .col-sm-4 {
        display: inline-block;
        position: relative;
        margin-left: 0;
        color: white;

        .coursebox {
          width: 80%;
          background-color: black;
          height: 300px;
        }
      }
    }
  }
}
