.trainee-balr {
  .courses {
    .courses-row {
      position: relative;
      float: left;
      margin: auto;
      overflow: scroll;
      height: 761px;

      .col-sm-3 {
        display: inline-block;
        position: relative;
        margin: auto;

        .coursebox {
          width: 80%;
          height: 300px;
          float: left;
        }
      }
    }

    .col-xs-4 {
      padding-right: unset;

      .coursedescription {
        position: relative;
        display: block;
        width: 100%;
        background: gainsboro;
        height: 761px;
      }
    }
  }
}

@media (max-width: 767px) {
  .trainee-balr {
    .courses {
      .outer-coursebox {
        padding-left: 10%;
      }
    }
  }
}

@media (max-width: 480px) {
  .trainee-balr {
    .courses {
      .outer-coursebox {
        width: 100%;
        padding-left: 25%;
      }
    }
  }
}
