<!DOCTYPE html>
<html lang="en" ng-app="coursesApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../styles/css/trainee.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <script src="https://use.fontawesome.com/6e3154f283.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="../styles/main.js"></script>
</head>
<body class="trainee-balr">
  <div class="sidebar-wrapper">
    <ul>
      <h4>Menu</h4>
      <br>
      <li><a href="index.html">Home</a></li>
      <li><a href="balr.html">Balr</a></li>
      <li><a href="aboutus.html">Trainees</a></li>
      <li><a href="courses.html">Courses</a></li>
      <br>
      <li><a href="over ons.html">About us</a></li>
    </ul>
    <footer>
      <a href="https://www.facebook.com/balr" target="_blanc">
        <button class="side-menu-social">
          <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
        </button>
      </a>
      <a href="https://www.instagram.com/balr" target="_blanc">
        <button class="side-menu-social">
          <span><i class="fa fa-instagram"></i></span>
        </button>
      </a>
      <a href="https://www.twitter.com/balr" target="_blanc">
        <button class="side-menu-social">
          <span><i class="fa fa-twitter"></i></span>
        </button>
      </a>
    </footer>
  </div>
<div class="wrapper">
  <div id="menu-toggle" class= "menustyle">
    <div class="container menuicon">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <i class= "logobalr"></i>
  </div>

  <div class="courses" ng-controller="coursesController">
    <div class="col-xs-8 courses-row">
      <h1>Courses</h1>
      <input type="text" placeholder="Search Courses" ng-model="search" class="ng-valid ng-dirty coursesearch">
      <div class="col-xs-6 col-sm-3 outer-coursebox text-center" ng-repeat="course in courseprops | filter:search" ng-click="setActive(course)">
        <div class="coursebox">
          <i class={{course.image}}></i>
          <hr class="line" />
          <h3>{{course.title}}</h3>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="coursedescriptionbox">
        <div class="coursedescription" ng-repeat="course in courseprops" ng-class="{active : activeCourse === course}">
          <h1>{{course.title}}</h1>
          <p>{{course.description}}</p>
        </div>
      </div>
    </div>
  </div>


  <footer class="nb-footer">
    <div class="container">
      <div class="about">
      <p>This page was constructed by Balr. Trainees</p>
      <div class="social-media">
        <ul class="list-inline">
          <li><a href="https://www.facebook.com/balr" target="_blanc"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/balr" target="_blanc"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.twitter.com/balr" target="_blanc"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
    <section class="copyright">
      <div class="container">
        <p>Copyright © 2017. Balr.</p>
      </div>
    </section>
  </footer>


</body>
</html>
