body {
  background-color: #a3d5d3;
  text-align: center;
}

.jumbotron {
  display: block;
  background-image: url('https://fashionfinder.nl/media/blogs/1470002400/1470746825.jpeg');
  background-size: contain;
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  transform: scale(1.05);
  transition: transform 2s ease-in-out;
  z-index: -1;
}

.jumbotron.zoom {
  transform: scale(1);
}

.jumbotron h1 {
  color: white !important;
  text-shadow: 2px 2px 4px #000000;
}


.logobalr {
  background-image: url('http://www.40beats.nl/images/logos/BALR-logo-site_wit.png');
  display: inline-block;
  height: 50px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 15px;
  cursor:pointer;

}

.menustyle {
  background-color: #333;
  width: 100%;
  height: 80px;
  text-align: center;

}
.menuicon {
    cursor: pointer;
    position: absolute;
    top: 20px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.active .bar1 {

    transform: rotate(-90deg) translate(-16px, 12px) ;
}

.active .bar2 {
    transform: rotate(-90deg) translate(-5px, 0px) ;
}
.active .bar3 {

    transform: rotate(-90deg) translate(6px, -12px) ;
}

.wrapper {
  padding-left: 0;
  transition: all 0.4s ease 0s;
}

.sidebar-wrapper {
  margin-left: -250px;
  top: 80px;
  left: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

.wrapper.active .sidebar-wrapper {
  left: 250px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  font-size: 20px;
}

li {
  display: block;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

a:link {
    color: white;
}

a:visited {
  text-decoration: none !important;
}

a:hover {
  color: black !important;
  background: white;
  text-decoration: none !important;
}

a:active {
    color: black !important;
    text-decoration: none !important;

}
